.about {
  margin-top: auto;
  margin-bottom: auto;
  padding: 3rem;
}

.name span {
  color: var(--color-secondary)
}

.typing {
  margin-bottom: 1.5rem;
}

.subheading {
  margin-bottom: 3rem;
}

.desc {
  margin-bottom: 3rem;
}

.icons i {
  font-size: 3rem;
}
